body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.main {
    background: linear-gradient(90deg, #afa1a1 0%, #c71919 40%, #c72b2b 80%);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.title {
    text-align: center;
}

.part {
    padding-bottom: 20px;
    padding-left: 25%;
}

img {
    width: 15%;
}

table {
    text-align: left;
}