body {
    background-color: rgb(14, 14, 14);
    color: white;
}

.main {
    background: linear-gradient(90deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.title {
    text-align: center;
}

.part {
    padding-bottom: 20px;
    padding-left: 25%;
}

img {
    width: 15%;
}

table {
    text-align: left;
}